@tailwind base;
@tailwind components;
@tailwind utilities;


.dark{
    color: white;
    background-color: rgb(27, 27, 27);
}
body{
color: black;
background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scr::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scr {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}